
body {
    margin: 0;
}

/* ------------------------------------header------------------------------------ */

@media screen and (max-width: 599px) {
    img.head-big {display: none;}
    img.head-small {display: block;}

    img.head-small {
        width: 100vw;
        margin: 0;
    }
    
}
